body{
    background-color: orange;
}

h1, h2{
    background-color: brown;
    margin: auto;
    text-align: center;
}

#container{
    background-color: blue;
    max-width: 90%;
    margin: 0 auto;
}

.box{
    background-color: yellow;
    width: 30%;
    padding-bottom: 20%;
    margin: 1.66%;
    float: left;
    border-radius: 10%;
    text-align: center;
}
